<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border rounded">
                <div class="card-body">
                    <h2 class="card-title">Column 1</h2>
                    <app-list></app-list>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border rounded">
                <div class="card-body">
                    <h2 class="card-title">Column 2</h2>
                    <app-detail></app-detail>
                </div>
            </div>
        </div>
    </div>
</div>